html
{
    height: 100%;
    width: 100%;
    display: table;
}

body
{
    height: 100%;
    width: 100%;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    background-color: black;
}

.SSVEP {
	display: inline-block;
	width: 15vw;
	height: 15vw;
	font-size: 3vw;
    font-family: Andale Mono, monospace;   
    font-style: bold;
    color: blueviolet;
    text-align: center;
    outline: none;
    word-break: break-all;
    display: table-cell;
    vertical-align: middle;
}

canvas {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}

input[type=text]
{
    width: 67.4vw;
    height: 5vw;
    text-align: center;
    font-size: 3vw;
    font-family: Andale Mono, monospace;   
    font-style: bold;
    color: white;
    border: solid 0.2vw white;
}

.sentenceArea
{
    background-color: black;
}