/* css_style.css - styles the on-screen stimuli */

@keyframes flicker 
{
    0% { opacity: 0; }
    50% { opacity: 1; }
}

html
{
    height: 100%;
    width: 100%;
    display: table;
}

body
{
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background-color: black;
}

button
{ 
    width: 15vw;  
    height: 15vw;
    font-size: 3vw;
    font-family: Andale Mono, monospace;   
    font-style: bold;
    color: blueviolet;
    text-align: center;
    outline: none;
    word-break: break-all;
    transform: translate3d(0, 0, 0);
}

input[type=text]
{
    width: 67.4vw;
    height: 5vw;
    text-align: center;
    font-size: 3vw;
    font-family: Andale Mono, monospace;   
    font-style: bold;
    color: white;
    border: solid 0.2vw white;
}

.sentenceArea
{
    background-color: black;
}

/* .SSVEP {  
    border: none;
} */

/* WebGL */
.SSVEP {  
    /* border: none; */
    display: inline-block;
	width: 15vw;
	height: 15vw;
	font-size: 3vw;
    font-family: Andale Mono, monospace;   
    font-style: bold;
    color: blueviolet;
    text-align: center;
    outline: none;
    word-break: break-all;
    display: table-cell;
    vertical-align: middle;
}

canvas {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}


/* Added by Garrett Flynn */
#options { 
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(38, 38, 38);
    width: 200px;
    text-align: left;
    color: white;
    padding: 10px;
}

#options button {
    width: 100%;
    height: auto;
    font-size: 10px;
}